.pokebar {
  min-height: 70px;
  width: 100%;
  background-color: red;
}

.circle-main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  float: left;
  margin: 10px;
  border: #686b6d 4px solid;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.poke-indicators li {
  margin-right: 0;
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

.bg-red {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

.panel-external {
  background-color: grey;
  border-radius: 5px;
  /*border-bottom-left-radius: 80px 50px;*/
}

.panel {
  /*background-image: url(../img/pokeball_bg.jpg);*/
}

/* Artigo Shapes https://css-tricks.com/examples/ShapesOfCSS/*/
