.pokebar {
  min-height: 70px;
  width: 100%;
  background-color: red;
}

.circle-main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.poke-indicators li {
  margin-right: 0;
  list-style: none;
  display: inline-block;
}

.bg-red {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}
